/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #f0ffff;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin: 1em;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid #d0eeee;
}

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 60em;
  margin: 3em auto 2em;
  line-height: 1.5em;
  border: 0px solid #000;
  padding: 1em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  margin: 1em 0em 0em 0em;
  font-size: 3.5em;
  font-family: monospace;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

div .wall {
  margin: 0.5em 0;
}

div .postwall {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #000;
}

div .image {
  width: 100%;
  text-align: center;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

div .image img {
  width: 92%;
  margin: 4%;
}

table {
  border-collapse: collapse;
}

table, td {
  border: 1px solid #000;
}

.image-td {
  width: 20%;
}

.desc {
  padding: 1em;
}

.cmd {
  font-family: "Inconsolata", "Courier New", "DejaVu Sans Mono", monospace;
}

nav {
  padding: 0.5em;
}

nav .button {
  display: inline;
  font-family: "Georgia", serif;
  font-size: 1.5em;
  padding: 0.5em;
}

nav .button a {
  color: #0a0;
}

.button a:hover {
  color: #0aa;
}

div .slide {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}

div .slide img {
  width: 45%;
}
