.title {
  font-family: 'Inknut Antiqua', serif;
  font-size: 5em;
}

.subtitle {
  font-variant: small-caps;
  font-size: 2em;
}

.abstract {
}

.section, header, footer {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: RGBA(50, 50, 50, 0.5);
  padding: 5px;
  padding-bottom: 40px;
  margin: 0px;
}

#spacer {
  background-color: RGBA(0, 0, 0, 0.9);
  z-index: 0;
}

.header {
  background-color: RGBA(0, 0, 0, 0.9);
  padding: 10px;
  font-size: 1.875em;
  font-family: 'Inknut Antiqua', serif;
  z-index: 1;
}

.footer {
  background-color: RGBA(0, 0, 0, 0.9);
  color: RGB(100, 200, 255);
}

header a, header a:visited, footer a, footer a:visited {
  color: RGB(0, 180, 255);
  padding-right: 1em;
  margin: 0px;
}

header a:hover, footer a:hover {
  color: RGB(140, 250, 255);
  text-decoration: none;
}

header.fixed {
  position: fixed;
  top: 0;
}

#intro {
  background-color: RGBA(80, 200, 255, 0.4);
}

#install {
  background-color: RGBA(0, 200, 50, 0.3);
}

.comment {
  color: RGB(200, 100, 0);
  font-style: italic;
}

#examples {
  background-color: RGBA(255, 230, 30, 0.8);
}

.img-example {
  text-align: center;
}

#works {
  background-color: RGBA(255, 0, 150, 0.3);
}

ol {
  counter-reset: o-counter;
}

ol li {
  list-style: none;
  position: relative;
}

ol li:before {
  content: '[' counter(o-counter) ']';
  counter-increment: o-counter;
  position: absolute;
  left: -1.4em;
}

header, footer {
  background-color: RGBA(200, 200, 200, 0.1);
}
